body {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.header-container {
	background-color: #5064d3;
	border-bottom: solid 4px #d500009e;
	display:block;
	float:left;
	height:80px;
  width: 100%;
}

.header-title {
	padding: 30px 30px 30px 10px;
	font-size: 16px;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.editReceptcontainer {
  position: absolute;
  top: 100px;
  padding: 10px;
	width:  50%;
}

.escajg-icon {
	padding: 25px 0 30px 30px;
	color: white;
	font-size: 22px !important;
}

.demo-card-wide.mdl-card {
  width: 40%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}

.background1 {
	background: url('../images/writeIncalendar.jpg') center / cover;
}

.background2 {
	background: url('../images/foodprep.jpg') center / cover;
}


.mdl-card__title-text {
	color: black !important;
}

/* --------------- WELCOME PAGE ----------------- */
.welcome-page__chooser-container {
	display: block;
	width: 60vw;
	height: 40vh;
	position: absolute;
	top: 10vh;
	left: 10vw;
	padding: 10%;
}

/* -------------- / WELCOME PAGE ----------------- */

.mainContainer {
	border: 1px solid gray;
	padding: 5px;
}

.leftPanel {
	float: left;
	width: 48%;
	border-right: 1px solid red;
	padding: 5px;
	min-height: 550px;
}

.listaJela {
	max-height: 550px;
	overflow-y: auto;
}

.rightPanel {
	float: right;
	width: 48%;
  padding: 5px;
}

.home-icon {
	font-size: 26px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.headerNaslov {
	  width: 45%;
    float: left;
}

.headerListeJela {
	  width: 45%;
    align-items: left;
    float: right;
}

.danUNedeljiContainer {
	display:block;
	width:30%;
	float:left;
	margin:5px;
	border: 1px solid gray;
  padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.marginL10px{
	margin-left: 5%;
}
.u_marginTop5px{
	margin-top: 5px !important;
}

.u_margin {
	margin: 10px !important;
}

.u_padding {
  padding: 5px;	
}

.u_width50pct {
	width: 50% !important;
}

.u_width70pct {
	width: 70% !important;
}

.u_absoluteRnull {
  right: 0;
}

.u_floatL {
	float: left !important;
}

.u_floatR {
	float: right !important;
}

.u_psAbs {
	 position: absolute;
}


.u_topLeftFive {
   top: 5px;
   left: 5px;
}

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 30%;
  padding: 4px 0;
  font-size: 16px;
  color: rgba(0,0,0, 0.26);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.trebovanjeMaincontainer {
	display:block;
	width:100%;
	float:left; 
}

.inputGramiTrebovanje {
	width:10%!important;
}

.selectJeloTrebovanje {
	width:50%;
}

.label-welcome {
	font-weight: 400!important;
  text-shadow: 1px 1px white;
}
.table-trebovanje {
	position: relative;
	top: 50px;
	left: 34%
}

.izbor-dana {
	display:block;
	float: left;
	width:100%;
}

.btn_posalji_u_magacin {
  position: absolute;
   left: 10px;
   top: 90px;
}
/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid rgba(0,0,0, 0.12);
        pointer-events: none;
    }
}
